{% extends 'dashboard.html' %}
{% load crispy_forms_tags %}

{% block content-head %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ object.pk|yesno:'Editar,Cadastrar' }} empresa</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'core:empresa_list' %}" role="button">
      <span data-feather="arrow-left"></span>
      Voltar para lista de empresas
    </a>

    {% if object.pk %}
    <div class="btn-group ml-2">
      <a href="{% url 'core:empresa_delete' object.pk %}" class="btn btn-sm btn-outline-danger">
        <span data-feather="trash-2"></span>
        Excluir
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content-head %}

{% block content-body %}
<section class="mb-3">
  <form action="" method="post">
    {% csrf_token %}

    {{ form|crispy }}

    {% for formset in formsets %}
      {{ formset|crispy }}
    {% endfor %}

    <div class="row mt-3">
      <div class="col-md-12 text-right">
        {% if object.pk %}
        <a href="{% url 'core:empresa_delete' object.pk %}" class="btn btn-danger">
          <span data-feather="trash-2"></span>
          Excluir
        </a>
        {% endif %}
        <button class="btn btn-primary" type="submit">
          <span data-feather="save"></span>
          Salvar
        </button>
      </div>
    </div>
  </form>
</section>
{% endblock content-body %}
