{% extends 'dashboard.html' %}
{% load app %}

{% block content-head %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Empresas cadastradas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a class="btn btn-sm btn-outline-primary" href="{% url 'core:empresa_add' %}" role="button">
        <span data-feather="plus"></span>
        Nova empresa
      </a>
    </div>
  </div>
{% endblock content-head %}

{% block content-body %}
  <div class="list-group">
    {% for empresa in object_list %}
      <a href="{% url 'core:empresa_edit' empresa.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between mb-2">
          <h5 class="mb-1">{{ empresa.razao_social }}</h5>
          <small>Fone: {{ empresa.contato.telefone|mask:'phone' }}</small>
        </div>
        <p class="mb-1">CNPJ: {{ empresa.cnpj|mask:'cnpj' }}</p>
        <small>
          {{ empresa.endereco_set.0 }}
        </small>
      </a>
    {% endfor %}
  </div>
{% endblock content-body %}
